### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/solved1316.java
/src/solved2441.java
/src/solved2475.java
/src/solved2525.java
/src/solved2562.java
/src/solved2675.java
/src/solved9653.java
/src/solved11021.java
/src/solved11720.java
/src/solved24900.java
/src/solved25305.java
/src/solved26711.java
/src/solved27959.java
/src/solved30676.java
